:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --nav-color: #fff;
    --primary-color: #ea110c;
    --background-color-default: #ffffff;
    --border-radius-default: 0;
    --btn-hover-background-color: rgba(234, 17, 12, 0.8);
    --font-size-normal: 1.5rem;
    --font-size-big: 2rem;
    --font-size-small: 1.3rem;
    --font-size-small1: 1rem;
    --font-size-small2: 0.8rem;
    --font-size-small3: 0.5rem;
    --animate-delay: 0.3s;

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

body {
    &.modal-active {
        overflow: hidden;
    }
    background-image: url('/assets/images/bgcontent.jpg');
    background-repeat: repeat;
    object-fit: cover;
    width: 100%;
}

.grid {
    width: 1270px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}