//Top navbar
.d-flex-space {
    display: flex;
    justify-content: space-between;
}


.d-flex {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-item {
        margin-right: 0;
    }
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.text-white {
    font-size: var(--font-size-small);
    color: var(--white-color);
}

.me-2 {
    margin-right: 7px;
}

.navbar-link {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
        transition: all 0.3s ease-in-out;
    }
}

.dropdown-language {
    left: -30px;
    width: 150px !important;
    min-width: 100px !important;
    padding: 8px !important;
    margin: 0;
    top: 25px !important;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -10px !important;
        left: 0;
        width: 150px !important;
        height: 10px !important;
    }

    li {
        cursor: pointer;
    }
}

//Divider
.divider {
    position: relative;
    height: 1px;
    background-color: var(--white-color);
    display: block;
    width: 100%;
    margin: 0 auto;
    opacity: 0.1;
}


//Main Navbar
.navbar {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    width: 150px;
}

.z-index1 {
    z-index: 1;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 17px;
    list-style: none;
    z-index: 1;
}

.dropdown {
    position: relative;

    &:hover .dropdown-menu {
        display: block;
        animation: dropdownMenuIn 300ms ease-in-out forwards;
        transform-origin: center center;
    }
}

.nav-link {
    text-decoration: none;
    font-size: var(--font-size-normal);
    font-weight: 500;
    color: var(--nav-color);
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
    }

    .fa-solid {
        font-size: 3rem;
    }
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 35px;
    border-radius: var(--border-radius-default);
    background-color: var(--white-color);
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 0;
    padding: 16px 10px;

    li {
        height: 35px;
        border-radius: var(--border-radius-default);
        display: flex;
        align-items: center;

        &:hover {

            background-color: rgba(6, 106, 201, 0.1);

            a {
                color: var(--primary-color);
            }
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: 0;
        width: 200px;
        height: 20px;
    }

    li {
        list-style: none;
    }
}

@keyframes dropdownMenuIn {
    0% {
        transform: transLateY(15px);
        opacity: 0;
    }

    80% {
        transform: transLateY(0px);
        opacity: 0.5;
    }

    100% {
        transform: transLateY(0px);
        opacity: 1;
    }
}

.dropdown-item {
    text-decoration: none;
    font-size: var(--font-size-normal);
    font-weight: 500;
    color: var(--text-color);
    padding: 6.4px 16px;
}

.nav-end {
    display: flex;
}

.nav-end {
    display: flex;
    align-items: center;
}

.dropdown-search {
    left: -180px;
    width: 300px;
    padding: 8px;
    margin-top: 20px;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: 0;
        width: 300px;
        height: 20px;
    }
}

.search-input-wrapper {
    input {
        flex: 1;
        outline: none;
        border: 1px solid var(--primary-color);
        font-size: var(--font-size-normal);
        color: var(--text-color);
        font-weight: 500;
        border-radius: var(--border-radius-default) 0 0 var(--border-radius-default);
    }

    width: 100%;
    display: flex;

    .search-input {
        padding: 8px 16px
    }

    .search-button {
        width: 80px;
        height: 40px;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: var(--font-size-normal);
        border: 1px solid var(--primary-color);
        border-radius: 0 var(--border-radius-default) var(--border-radius-default) 0;

        &:hover {
            background-color: var(--btn-hover-background-color);
        }
    }
}

.search-recent {
    padding: 8px;
}

.search-recent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    height: 50px;

    span {
        font-size: var(--font-size-small);
        color: var(--text-color);
        font-weight: 500;
    }

    a {
        font-size: var(--font-size-small);
        color: var(--primary-color);
        text-decoration: none;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            color: var(--btn-hover-background-color);
        }
    }
}

.search-recent-content {
    height: 34px;
    display: flex;
    align-items: center;

    a {
        font-size: var(--font-size-small);
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
        font-weight: 400;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.dropdown-menu-profile {
    left: -180px;
    width: 260px;
    padding: 16px 10px;
    margin-top: 20px;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: 0;
        width: 260px;
        height: 20px;
    }

    hr {
        height: 0;
        border-top: 1px solid #eff1f2;
        margin: 8px 0;
    }
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    align-items: center;
    padding: 0 16px;

    .avatar {
        margin-right: 16px;

        .avatar-img {
            width: 50px;
            height: 50px;
        }
    }

    .profile-text {
        a {
            text-decoration: none;
            font-size: var(--font-size-normal);
            color: var(--black-color);
            font-weight: 700;
        }

        p {
            font-size: var(--font-size-small);
            color: var(--text-color);
            margin: 4px 0;
        }
    }
}



.dropdown-item-danger {
    padding-left: 5px;

    &:hover {
        background-color: rgba(214, 41, 62, 0.1) !important;

        .dropdown-item {
            color: #d6293e;
        }
    }

}

//picture animation
.container {
    width: 100%;
    height: 2000px;

}

.wrapper {
    position: relative;
}

.bg-overlay:before {
    content: " ";
    background: #000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
    .img1 {
        animation: fadeInTopRight;
        animation-duration: 1.5s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
}

.pic1 {
    position: absolute;
    border-radius: 25px;
    border: 10px solid #e0e2e9;
    background: url(../images/pic1.jpg);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 350px;
    right: 0;
    opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .img2 {
        animation: fadeInTopRight;
        animation-duration: 1.5s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
    }
}

.pic2 {
    position: absolute;
    top: 50px;
    right: 50px;
    border-radius: 25px;
    border: 10px solid #e0e2e9;
    background: url(../images/pic2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    width: 200px;
    height: 350px;
    opacity: 0;
}


@media (prefers-reduced-motion: no-preference) {
    .img3 {
        animation: fadeInTopRight;
        animation-duration: 1.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
}

.pic3 {
    position: absolute;
    top: 100px;
    right: 100px;
    border-radius: 25px;
    border: 10px solid #e0e2e9;
    background: url(../images/pic3.jpg);
    background-size: cover;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 350px;
    opacity: 0;
}

// silder effect
.slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;

}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slide 12s infinite; //30s
}

.slider1 {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: transparent;
}

.slider1 .slide1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: slide 12s infinite; //30s
    background-color: transparent;
}

.title-1 {
    position: absolute;
    top: 10%;
    left: 0%;
    z-index: 2;
}

.header-title {
    font-size: var(--font-size-big);
    color: var(--white-color);
    line-height: 2rem;
    opacity: 0;
}

.big-title {
    line-height: 15rem;
    font-size: 15rem;
    margin: 35px 0;
    color: transparent !important;
    text-shadow: .3rem .3rem 0 var(--primary-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white-color);
    opacity: 0;
}

.content-title {
    font-size: var(--font-size-big);
    color: var(--white-color);
    line-height: 2rem;
    margin: 10px 0;
    opacity: 0;
}

.button-title {
    width: 100px;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: var(--font-size-normal);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-default);
    margin-top: 10px;
    opacity: 0;

    &:hover {
        background-color: var(--btn-hover-background-color);
    }
}

//Delay(i) =  -(Animation_Duration * Slide_Number)/Total_Slides
.slider .slide:nth-child(1) {
    background-image: url('../images/pic4.jpg');
    animation-delay: -0;
}

.slider .slide:nth-child(2) {
    background-image: url('../images/pic5.jpg');
    animation-delay: -6s;
}

.slider1 .slide1:nth-child(1) {
    animation-delay: -0;
}

.slider1 .slide1:nth-child(2) {
    animation-delay: -6s;
}

// .slider .slide:nth-child(3) {
//     background-image: url('../images/pic5.jpg');
//     animation-delay: -12s;
// }

// .slider .slide:nth-child(4) {
//     background-image: url('../images/pic1.jpg');
//     animation-delay: -18s;
// }

// .slider .slide:nth-child(5) {
//     background-image: url('../images/pic2.jpg');
//     animation-delay: -24s;
// }


// We have to decide how long you want the transition to be as a percentage of the total duration. 
// For this article, we will use 5% as the transition-duration percentage ( 5% of a 10s animation is 0.5s, so our slides will take 0.5s to slide in/out of the view). 
// Here is the formula:
// Keyframe 1 should be at 0%, 100% and 100% / total-slides - transition-duration-percentage
// Keyframe 2 should be at 100% / total-slides
// Keyframe 3 should be at 100% - transition-duration-percentage
@keyframes slide {

    0%,
    45%,
    100% {
        transform: translateX(0);
        animation-timing-function: ease;
    }

    50% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }

    95% {
        transform: translateX(100%);
        animation-timing-function: ease;
    }

}

.text-transparent {
    opacity: 0 !important;
}

//Scroll down
.scroll-down {
    display: flex;
    width: 100px;
    right: 0px;
    position: absolute;
    bottom: 50px;
    color: var(--nav-color);
    z-index: 2;
    transform: rotate(90deg);

    .scroll-line {
        position: absolute;
        top: -21px;
        left: -40px;
        width: 1px;
        height: 60px;
        margin: 0 auto;
        background-color: var(--white-color);
        transform: rotate(90deg);
    }

    .scroll-text {
        color: var(--white-color);
        font-size: var(--font-size-normal);
    }

}

#button {
    display: inline-block;
    background-color: var(--primary-color);
    width: 130px;
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 45px;
    right: -50px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transform: rotate(90deg);
}

#button::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 40px;
    width: 1px;
    height: 60px;
    margin: 0 auto;
    background-color: var(--white-color);
    transform: rotate(90deg);
}

#button::before {
    content: "Go Up";
    position: absolute;
    top: 15px;
    left: 30px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: var(--font-size-normal);
    color: var(--white-color);
}

#button:hover {
    cursor: pointer;
    background-color: var(--btn-hover-background-color);
}

#button:active {
    background-color: var(--btn-hover-background-color);
}

#button.show {
    opacity: 1;
    visibility: visible;
}

//test animation on screen
@keyframes wipe-enter {
    0% {
        transform: scale(0, .025);
    }

    50% {
        transform: scale(1, .025);
    }
}

.square {
    width: 200px;
    height: 200px;
    background: orange;
    // etc...
}

@media (prefers-reduced-motion: no-preference) {
    .square-animation {
        animation: wipe-enter 1s 1;
    }
}