//list card
.card-wrapper,
.card-wrapper1 {
    background-color: rgba(0, 0, 0, 0.5);
}

.padding100 {
    padding-top: 150px;
}

.list-title-wrapper {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 50px;

}

.list-title {

    text-shadow: 0.03em 0.03em 0 var(--white-color);
    font-size: 4rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    color: var(--primary-color);
    padding-left: 10px;

    &:hover {
        color: var(--btn-hover-background-color) !important;
    }

    cursor:default;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardWide {
    width: 100% !important;
    height: 200px !important;
}

.card5 {
    width: 18% !important;
}

.card {
    display: block;
    position: relative;
    width: 22%;
    height: 400px;
    overflow: hidden;
    transition: transform .2s;
    margin-bottom: 50px;
    opacity: 0;

    &:hover .card-content {
        transform: translateY(-5px);
    }

    &:hover .card-logo {
        transform: translateY(5px);
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 5px 15px 30px #888888;
    }

    .card-image {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all .3s ease-in-out;

        &:hover {
            .card-content {
                transform: translateY(30px);
            }
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &::before {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        bottom: -1%;
        background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
        z-index: 1;
    }

    .card-img-overlay {
        height: 100%;
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        z-index: 1;
    }

    .card-logo {
        font-size: 2.5rem;
        color: var(--white-color);
        font-weight: 700;
        margin: 0;
        line-height: 45px;
        transition: all .3s ease-in-out;
    }

    .card-content {
        transition: all .3s ease-in-out;
    }

    .card-content-title {
        font-size: 2rem;
        color: var(--white-color);
        font-weight: 700;
        margin: 0;
    }

    .card-content-des {
        font-size: var(--font-size-normal);
        color: var(--white-color);
        font-weight: 500;
    }

    .card-logo,
    .card-content-title,
    .card-content-des {
        text-shadow: .2px 0 #000000, -.2px 0 #000000, 0 .2px #000000, 0 -.2px #000000,
            .1px .1px #000000, -.1px -1px #000000, .1px -.1px #000000, -.1px .1px #000000;
    }
}

//list player dropdown
.dropdown-find-player {
    z-index: 900 !important;

    .dropdown-menu {
        background-color: var(--white-color);
        position: absolute;
        top: 30x;
        left: -200px;

        .search-input-wrapper {
            margin-bottom: 10px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: -13px;
            left: 0;
            width: 300px;
            height: 13px;
        }
    }

    .nav-link {
        font-size: var(--font-size-big);
        padding: 10px 20px 10px 20px;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);

        &:hover {
            background-color: var(--white-color);
            border: var(--white-color);
        }
    }
}