.match-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.match-result,
.match-schedule {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

.team1,
.team2 {
    display: flex;
    align-items: center;
}

.team1 {
    width: 80%;
    justify-content: flex-end;
}

.team2 {
    width: 80%;
    justify-content: flex-start;
}

.all-team {
    display: flex;
    align-items: center;
    width: 100%;
}

.match-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.match-title {
    background-color: rgba(0, 0, 0, .5);
    color: transparent !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white-color);
    text-shadow: 0.03em 0.03em 0 var(--primary-color);
    font-size: 4rem;
    font-weight: 700;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: var(--btn-hover-background-color) !important;
    }

    cursor:default;
    margin-bottom: 30px;
}

.team-logo {
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
        object-fit: cover;
    }

    margin: 0 10px;
    display: flex;
    align-items: center;
}

.match-time {
    font-size: var(--font-size-small);
    color: var(--white-color);
    margin: 8px 0;
    text-shadow: .2px 0 #000000, -.2px 0 #000000, 0 .2px #000000, 0 -.2px #000000,
        .1px .1px #000000, -.1px -1px #000000, .1px -.1px #000000, -.1px .1px #000000;
}

.team-name1 {
    font-size: var(--font-size-normal);
    color: var(--white-color);
    font-weight: 500;
    margin: 0 10px;
    text-align: right;
    text-shadow: .2px 0 #000000, -.2px 0 #000000, 0 .2px #000000, 0 -.2px #000000,
        .1px .1px #000000, -.1px -1px #000000, .1px -.1px #000000, -.1px .1px #000000;
}

.team-name2 {
    font-size: var(--font-size-normal);
    color: var(--white-color);
    font-weight: 500;
    margin: 0 10px;
    text-align: left;
    text-shadow: .2px 0 #000000, -.2px 0 #000000, 0 .2px #000000, 0 -.2px #000000,
        .1px .1px #000000, -.1px -1px #000000, .1px -.1px #000000, -.1px .1px #000000;
}



.team-score {
    font-size: var(--font-size-big);
    color: var(--white-color);
    font-weight: 500;
    margin: 0 10px;
    text-shadow: .2px 0 #000000, -.2px 0 #000000, 0 .2px #000000, 0 -.2px #000000,
        .1px .1px #000000, -.1px -1px #000000, .1px -.1px #000000, -.1px .1px #000000;
}

.match-item {

    transition: transform 0.3s ease;
}

.match-item:hover {
    transform: scale(1.1);
}